* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg_main: #081B33;
    --bg_alt: #fff;
    --text_light: #fff;
    --text_med: #53627c;
    --text-dark: #1e2432;
    --blue: #2196f3;
    --darkblue: #4e54c8;
    --darkestblue: #000428;
    --error: #ff1e42;
}

html {
    background-image: linear-gradient(0, #4e54c8, #8f94fb);
    min-height: 100vh;
    background-attachment: fixed;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text_dark);
}

.app-container {
    display: flex;
    justify-content: center;
    max-width: 960px;
    margin: 50px auto;
    flex-flow: row wrap;
}

.weather-input {
    width: 400px;
    padding: 0 0.75rem;
}

.weather-container {
    width: 100%;
    margin-top: 25px;
}

.weather-results {
    position: relative;
    background: var(--bg_alt);
    border-radius: 20px;
    padding: 1.5rem 0;
    margin: 0 0.75rem;
}

.weather-results h2 {
    font-weight: 400;
    margin-bottom: 15px;
}

.weather-results::after {
    content: '';
    width: 98%;
    height: 035px;
    position: absolute;
    left: 1%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 20px;
    background: var(--darkestblue);
}

.weather-data {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.weather-data > section {
    margin-bottom: 2rem;
}

.feels-like {
    display: flex;
    flex-direction: column;
}

.feels-like h3 {
    color: var(--darkblue);
}

.feels-like-attribute {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.feels-like-attribute div {
    width: 8rem;
    color: var(--text_med);
}

.feels-like-attribute div i {
    margin-right: 1rem;
    width: 1rem;
}

.feels-like-attribute .data-value {
    font-weight: 700;
    color: var(--darkblue);
}

.hi-lo {
    display: flex;
    justify-content: flex-start;
    margin: 0.8rem 0 1.5rem 0;
}

.hi-lo div {
    display: inline-block;
    font-weight: 700;
    color: var(--darkblue);
    font-size: 1.25rem;
}

.hi-lo > div {
    margin-right: 2rem;
}

.hi-lo div .fas {
    color: var(--text_med);
    margin-right: 1rem;
}

.hourly-weather-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 1rem;
    font-size: 14px;
}

.hourly-weather-row .hourly-temp {
    width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hourly-temp div:nth-of-type(2) {
    font-weight: 700;
    font-size: 1.25rem;
}

.hourly-temp :first-child {
    width: 5rem;
}

.hourly-weather-row img {
    height: 3rem;
    display: block;
    margin-right: 0.5rem;
}

.hourly-description {
    width: 12rem;
    display: flex;
    align-items: center;
}

.hourly-pop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 3rem;
}

.hourly-pop i {
    color: var(--text_med);
}

.week-forecast {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px 0;
    position: relative;
    overflow-x: auto;
}

.forecast-day {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    flex: 0 0 auto;
}

.forecast-day img {
    margin: 10px 0;
    height: 3rem;
}

.forecast-day h3 {
    color: var(--darkblue);
}

.forecast-day .min-max-temp {
    background: var(--darkblue);
    color: #fff;
    padding: 0.2em 0.6em;
    border-radius: 50px;
    margin-top: 5px;
    font-size: 14px;
}

#location {
    width: 80%;
    border-radius: 30px 0 0 30px;
    height: 40px;
    padding: 5px 25px;
    border: none;
    color: var(--text_dark);
}

#location:focus {
    outline: none;
    transition: ease-in-out 0.2s;
    background-color: var(--bg_alt);
}

form {
    display: flex;
}

form button {
    font-weight: bold;
    height: 40px;
    border: none;
    width: 20%;
    border-radius: 0 30px 30px 0;
    background: var(--darkblue);
    color: var(--text_light);
    transition: background ease-in-out 0.2s;
}

form button:hover {
    cursor: pointer;
    background: var(--darkblue);
    opacity: 0.9;
}

.location-title h3 {
    font-size: 2.5rem;
    color: var(--text_med);
    font-weight: 400;
}

.location-title h3 sup{
    background: var(--darkblue);
    color: var(--text_light);
    font-size: 0.3em;
    padding: 0.2em 0.6em;
    border-radius: 30px;
    margin-left: 5px;
    font-weight: 200;
}

.location-conditions img {
    height: 125px;
    width: 125px;
    color: var(--orange);
}

.location-temp {
    color: var(--text_dark);
    font-weight: 200;
    font-size: 6rem;
}

.location-temp sup {
    font-size: 0.5em;
}

.location-conditions {
    font-size: 0.8rem;
    color: var(--text_med);
    font-weight: 200;
}

.error {
    color: var(--error);
    font-weight: 100;
    font-size: 1rem;
    margin-top: 5px;
    padding-left: 25px;
}

/* .data-value {
    margin-left: 20px;
} */

/* Prevent auto zoom on mobile */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select,
    textarea,
    input {
      font-size: 16px;
    }
  }

@media (max-width: 600px) {
    .hourly-description p {
        display: none;
    }

    .hourly-description {
        width: auto;
    }

    .hourly-weather-row .hourly-temp {
        width: 15rem;
    }
}